{% extends 'base.html' %}
{% load static %}
{% block head_scripts %}

    <script>

    </script>
{% endblock head_scripts %}
{% block content  %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<section id="cart_items">
		<div class="container">
         <form action="" method="post">
         {% csrf_token %}
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}

        {% endif %}

        {% if order.items.all.count > 0 %}
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody class="cart-content">
						{% for item in order.items.all %}

                            <tr class="cart-rows" id="cart_row">
							<td class="cart_product">
								<a href=""><img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.images.first.alt }}" style="width: 70px;image-resolution: from-image"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ item.product.name }}</a></h4>
{#								<p>Web ID: 1089772</p>#}
							</td>
							<td class="cart_price">

								<p class="c-price">${{ item.product.price }}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="" id="cart_quantity_up{{ item.product.id }}"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity{{ item.id }}" value="1" autocomplete="off" size="2" id="q{{ item.product.id }}">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
                                <h3 class="cart_total_price" id="cart-item{{ item.product.id }}">
                                    {{ item.product.price }}

                                </h3>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'orders:delete_from_cart' item.id %}"><i class="fa fa-times"></i></a>
							</td>
						</tr>





                        {% endfor %}

					</tbody>
				</table>

            {% else %}
                <div class="alert alert-warning text-center" colspan="5" style="padding: 25px">Any items have not been added yet
                                <a class="text-muted" href="{% url 'products:product_list' %}">Go to products</a></div>
            {% endif %}
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
{#				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>#}
			</div>
			<div class="row">
{#				<div class="col-sm-6">#}
{#					<div class="chose_area">#}
{#						<ul class="user_option">#}
{#							<li>#}
{#								<input type="checkbox">#}
{#								<label>Use Coupon Code</label>#}
{#							</li>#}
{#							<li>#}
{#								<input type="checkbox">#}
{#								<label>Use Gift Voucher</label>#}
{#							</li>#}
{#							<li>#}
{#								<input type="checkbox">#}
{#								<label>Estimate Shipping & Taxes</label>#}
{#							</li>#}
{#						</ul>#}
{#						<ul class="user_info">#}
{#							<li class="single_field">#}
{#								<label>Country:</label>#}
{#								<select>#}
{#									<option>United States</option>#}
{#									<option>Bangladesh</option>#}
{#									<option>UK</option>#}
{#									<option>India</option>#}
{#									<option>Pakistan</option>#}
{#									<option>Ucrane</option>#}
{#									<option>Canada</option>#}
{#									<option>Dubai</option>#}
{#								</select>#}
{#								#}
{#							</li>#}
{#							<li class="single_field">#}
{#								<label>Region / State:</label>#}
{#								<select>#}
{#									<option>Select</option>#}
{#									<option>Dhaka</option>#}
{#									<option>London</option>#}
{#									<option>Dillih</option>#}
{#									<option>Lahore</option>#}
{#									<option>Alaska</option>#}
{#									<option>Canada</option>#}
{#									<option>Dubai</option>#}
{#								</select>#}
{#							#}
{#							</li>#}
{#							<li class="single_field zip-field">#}
{#								<label>Zip Code:</label>#}
{#								<input type="text">#}
{#							</li>#}
{#						</ul>#}
{#						<a class="btn btn-default update" href="">Get Quotes</a>#}
{#						<a class="btn btn-default check_out" href="">Continue</a>#}
{#					</div>#}
{#				</div>#}
				<div class="col-sm-8">
					<div class="total_area">
						<ul>
{#							<li>Cart Sub Total <span>$59</span></li>#}
{#							<li>Eco Tax <span>$2</span></li>#}
{#							<li>Shipping Cost <span>Free</span></li>#}
							<li>Total <span class="cart-t">${{ order.get_cart_total }}</span></li>
						</ul>
							<a class="btn btn-default update" href="{% url 'products:product_list' %}">Go to shop</a>
							<button class="btn btn-default check_out" href="" type="submit">Check Out</button>
					</div>
				</div>
			</div>
            </form>
		</div>
	</section><!--/#do_action-->
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $(".cart_quantity_up").click(function (event) {
           event.preventDefault();
           var item_number = $(this).next(".cart_quantity_input").val();
           $(this).next(".cart_quantity_input").val(parseInt(item_number) + 1);
           // $(this).closest(".cart_total_price").text(parseInt({{ order.get_cart_total }}) * item_number);
            updateItemTotal()


       })
        $(".cart_quantity_down").click(function (event) {
           event.preventDefault();
           var item_number = $(this).prev(".cart_quantity_input").val();
           if (item_number >1){
               $(this).prev(".cart_quantity_input").val(parseInt(item_number) - 1);
           }
           updateItemTotal()
       })
    </script>


{% endblock content %}